.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 5vh;

    .header {
        position: fixed;
        z-index: 5;
        top: 0; left: 0;
        inline-size: 100%;
        block-size: 100vh;

        border: 1px dotted hotpink;

        background-color: var(--bg-header);
        backdrop-filter: saturate(180%) blur(10px);
        -webkit-backdrop-filter: saturate(180%) blur(10px);

        .container {
            inline-size: 100%;
            max-inline-size: var(--max-width);
            block-size: 100%;
            margin-inline: auto;
            padding-inline: var(--x);

            display: flex;
            justify-content: flex-start;
            align-items: center;

            .title {
                inline-size: 100%;
                block-size: auto;
                position: relative;

                border: 1px dotted lightblue;

                .name {
                    font-size: clamp(3rem, 14vw, 10rem);
                    font-weight: 900;
                    line-height: 1.6;
                    margin: 0;

                    color: transparent;
                    -webkit-text-stroke: 1px var(--fg-color);
                    /* background-clip: text;
                    -webkit-background-clip: text;
                    background-repeat: no-repeat, no-repeat;
                    background-size: 0% 100%, 100% 100%;
                    background-position: top left, top right;
                    background-image:
                        linear-gradient(to right, var(--accent-color), var(--accent-color)),
                        linear-gradient(to right, var(--fg-color), var(--fg-color)) */
                    ;
                }

                .hello {
                    position: absolute;
                    top: 0; left: 0;
                    transform: translateY(-100%);

                    @media (max-width: 599px) {
                        transform: translateY(-100%);
                    }
                }

                .intro {
                    position: absolute;
                    left: 0;
                    top: 100%;
                    max-width: 600px;

                    @media (max-width: 599px) {
                        transform: translateY(10%);
                    }
                }
            }
        }
    }

    .header-trigger {
        inline-size: 100%;
        block-size: 100vh;

        border: 1px dotted lightcyan;
    }

    .section-intro {
        inline-size: 100%;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
    }

    .section-title {
        font-size: clamp(2rem, 11vw, 6rem);
        line-height: 1.2;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        padding-inline: var(--x);
        transform-origin: center top;

        color: transparent;
        -webkit-text-stroke: 1px var(--fg-color);
    }

    .section-description {
        inline-size: 100%;
        max-inline-size: 700px;
        text-align: center;
        padding-inline: var(--x);
    }

    .technical {
        --sm-size: 200px;

        inline-size: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2vh;

        .technical-sticky {
            margin-top: 5vh;
            position: sticky;
            z-index: 2;
            top: var(--header-height);
            left: 0;
            inline-size: 100%;
            block-size: calc(100vh - var(--header-height));

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;


            .bg-circle {
                inline-size: var(--sm-size);
                block-size: var(--sm-size);
                border-radius: var(--sm-size);

                border: 1px dotted hotpink;
                /* background-color: #000; */
                overflow: hidden;

                .cards {
                    position: absolute;
                    inset: 0;
                    height: calc(100vh - var(--header-height));

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    .card {
                        position: absolute;

                        inline-size: calc(100% - var(--x));
                        block-size: calc(100% - var(--dx));
                        max-inline-size: 540px;
                        max-block-size: 600px;

                        border: 1px dotted var(--accent-color);

                        background-color: var(--bg-color);

                        /* background-color: var(--bg-header);
                        backdrop-filter: saturate(180%) blur(10px);
                        -webkit-backdrop-filter: saturate(180%) blur(10px); */

                        transform: translateX(100vw);


                        .card-layout {
                            inline-size: 100%;
                            block-size: 100%;
                            padding-inline: var(--x);
                            padding-block: var(--dx);

                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: stretch;
                            gap: 1rem;

                            > h2 {
                                font-size: clamp(2rem, 10vw, 4rem);
                                font-weight: 900;
                                line-height: 1.4;

                                border: 1px dotted hotpink;

                                color: transparent;
                                -webkit-text-stroke: 1px var(--fg-color);
                            }

                            > p {
                                border: 1px dotted hotpink;
                            }

                            .skills {
                                inline-size: 100%;
                                flex: 1;

                                border: 1px dotted hotpink;
                            }
                        }
                    }
                }
            }
        }

        .cards-trigger {
            inline-size: 100vw;
            block-size: 200vh;
            position: relative;

            margin-top: -60px;

            .card-trigger {
                position: absolute;
                left: 0; bottom: 0;
                inline-size: 100%;

                border: 1px dotted lightblue;

                &.trigger--one {
                    block-size: 100%;
                }
                &.trigger--two {
                    block-size: 75%;
                }
                &.trigger--three {
                    block-size: 50%;
                }
                &.trigger--four {
                    block-size: 25%;
                }
            }
        }
    }

    .projects {
        inline-size: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2vh;

        .project-sticky {
            margin-top: 5vh;
            position: sticky;
            z-index: 2;
            top: var(--header-height);
            left: 0;
            inline-size: 100%;
            block-size: calc(100vh - var(--header-height));

            border: 1px dotted hotpink;

            .project-container {
                inline-size: 100%;
                block-size: 100%;

                max-width: var(--max-width);
                padding-inline: var(--x);
                padding-block: var(--dx);
                margin-inline: auto;

                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 2rem;

                @media (orientation: portrait) {
                    grid-template-columns: minmax(0, 1fr);
                    grid-template-rows: 40vh minmax(0, 1fr);
                    padding-block: 0;
                }

                .start {

                    &.project-media {
                        transform: translateX(-100vw);
                        background-color: var(--bg-color);

                        border: 1px dotted hotpink;

                        .media-layout {
                            inline-size: 100%;
                            block-size: 100%;
                            padding: 1rem;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            @media (orientation: portrait) {
                                padding: .2rem;
                            }

                            .media-object {
                                inline-size: 100%;
                                aspect-ratio: var(--ratio-golden);

                                background-color: var(--bg-color);
                                border: 1px dotted hotpink;

                                .object-layout {
                                    inline-size: 100%;
                                    block-size: 100%;
                                    position: relative;

                                    /* &::after {
                                        content: '';
                                        position: absolute;
                                        z-index: 2;
                                        display: block;
                                        inset: 0;

                                        background-color: var(--bg-header);
                                        background-image: radial-gradient( rgba(0,0,0,0) 1px,var(--bg-color) 1px );
                                        background-size: 4px 4px;
                                        backdrop-filter: brightness(100%) blur(3px);
                                        -webkit-backdrop-filter: brightness(100%) blur(3px);
                                    } */

                                    .project-image {
                                        position: absolute;
                                        z-index: 0;
                                        opacity: 0;
                                        pointer-events: none;
                                        inset: 0;
                                        background-color: var(--bg-color);

                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        font-size: clamp(2rem, 10vw, 4rem);
                                        font-weight: 900;
                                        line-height: 1.4;

                                        color: transparent;
                                        -webkit-text-stroke: 1px var(--color, #FFF);

                                        &.image--one {
                                            --color: aquamarine;
                                        }
                                        &.image--two {
                                            --color: yellowgreen;
                                        }
                                        &.image--three {
                                            --color: pink;
                                        }
                                        &.image--four {
                                            --color: cornflowerblue;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .projects-trigger {
            inline-size: 100%;

            margin-block-start: calc((100vh - var(--header-height) + 2vh) * -1);

            .small-media-placeholder {
                display: none;
                inline-size: 100%;
                block-size: 40vh;

                @media (orientation: portrait) {
                    display: block;
                }
            }

            .project-trigger {
                inline-size: 100%;
                block-size: calc(100vh - var(--header-height));

                border: 1px dotted lightblue;

                .project-container {
                    inline-size: 100%;
                    block-size: 100%;

                    max-width: var(--max-width);
                    padding-inline: var(--x);
                    padding-block: var(--dx);
                    margin-inline: auto;

                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    gap: 2rem;

                    @media (orientation: portrait) {
                        grid-template-columns: minmax(0, 1fr);
                        grid-template-rows: minmax(0, 1fr);

                        .start {
                            display: none;
                        }
                    }

                    .end {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: stretch;
                        gap: 1rem;

                        /* border: 1px dotted lightblue; */

                        > h2 {
                            font-size: clamp(2rem, 10vw, 4rem);
                            font-weight: 900;
                            line-height: 1.4;

                            /* border: 1px dotted hotpink; */

                            color: transparent;
                            -webkit-text-stroke: 1px var(--fg-color);
                        }

                        > p {
                            /* border: 1px dotted hotpink; */
                        }
                    }
                }
            }
        }
    }

    .footer {
        inline-size: 100%;
        block-size: 60vh;

        border: 1px dotted lightblue;
    }
}