:root {
    --x: clamp(1.5rem, 6vw, 6rem);
    --y: 10vh;
}

html,
body {
    min-inline-size: 100%;
    min-block-size: 100%;
    font-family: 'Poppins', sans-serif;
    color: var(--fg-color);
    background-color: var(--bg-color);
    font-weight: 400;
}

.main {
    inline-size: 100%;
    min-block-size: 100vh;
}
